@media (max-width:1024px) {

    .book_car2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

.bokk_car3-img img{
    width: 100%;
}

    .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

    }

    .contacts div {
        width: 50%;
    }

    .new_posts3 {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .contacts {
        justify-content: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .contacts div {
        width: 100%;
    }

}